[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  border-radius: 10px;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #CCC;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}
/*
#container {
  width: 100%;
  background: hotpink;
  aspect-ratio: 100 / 29;
}
*/

.container
  box-sizing: border-box

p
  text-align: center
  padding: 4rem
  color: #ccc
  
body 
  background: #fff
 
.container 
  max-width: 960px
  width: 100% //Fall back for browsers that doesn't support calc() function
  width: calc(100% - 1rem) // Override the width for  browsers that support calc function
  margin: 50px auto
  padding: 50px
  background: #ccc
  
.container2 
  max-width: 960px
  width: 100%
  margin: 50px auto
  padding: 50px
  background: #ccc  